[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
numpy = "*"
typer = "*"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
tensorflow = "*"
ta-lib = "*"
python-dotenv = "*"
pretty-errors = "*"
polygon-api-client = "*"
alpaca-py = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
